
/*http://css-tricks.com/examples/ButtonMaker/#
.myButton {
   width: 90px !important;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11px 30px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   //horizontal-align:left;
   text-align: left;
   }
.myButton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.myButton:active {
   position:relative;
   border-top-color: #1b435e;
   background: #1b435e;
  }
*/
/*http://www.bestcssbuttongenerator.com/ */
/*
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:7px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
        text-align: left;
        width: 100px;
        vertical-align: middle;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
*/

.myButton{
 border:1px solid #CCCCCC;
 -webkit-box-shadow: #FEFFFF 0px 1px 1px ;
 -moz-box-shadow: #FEFFFF 0px 1px 1px ;
 box-shadow: #FEFFFF 0px 1px 1px ;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 font-size:14px;
 font-family:arial, helvetica, sans-serif;
 padding: 10px 10px 10px 10px;
 text-decoration:none;
 display:inline-block;
 text-shadow: 0px 1px 0 rgba(255,255,255,1);
 font-weight:bold;
 color: #4A4A4A;
 background-color: #f2f9fe;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
 background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);
// filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}

.myButton:hover{
 border:1px solid #ADADAD;
 background-color: #c3e3fa;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#c3e3fa), to(#a5defb));
 background-image: -webkit-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -moz-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -ms-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -o-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: linear-gradient(to bottom, #c3e3fa, #a5defb);
 //filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c3e3fa, endColorstr=#a5defb);
}


.css_btn_class {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #84bbf3;
	padding:9px 56px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #bddbfa 41%, #80b5ea 64% );
	background:-ms-linear-gradient( top, #bddbfa 41%, #80b5ea 64% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(41%, #bddbfa), color-stop(64%, #80b5ea) );
	background-color:#bddbfa;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	-moz-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	box-shadow:inset 1px 1px 0px 0px #dcecfb;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #80b5ea 41%, #bddbfa 64% );
	background:-ms-linear-gradient( top, #80b5ea 41%, #bddbfa 64% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(41%, #80b5ea), color-stop(64%, #bddbfa) );
	background-color:#80b5ea;
}.css_btn_class:active {
	position:relative;
	top:1px;        
}
/* This css button was generated by css-button-generator.com */

