#form_columns b, #form_field_name b {
    display: table-cell;
    font-size: 14px;
    padding: 8px;
    width: 118px;
}

#form_field_data {
    display: table-cell;
    font-size: 12px;
    padding: 8px 10px;
    text-align: left;
    width: 115px;
}

#form_submit_button{
	margin-top : 10px;
	margin-left : 10px;
}