@charset "utf-8";
/* CSS Document */
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
#form_field_data{
	padding:8px ;
	font-size:13px ;
}

.table-bg-light{
	background-color:#fafafa;
}
.table-bg-dark{
	background-color:#e6e6e5;
}

#form_columns{
	background-color:#b4b4b4 ;
	color:#fff ;
	padding:6px ;
	font-weight: normal;
    text-align: left;
    font-size:13px ;
}

#form_submit_button{
	margin-top : 8px;
}
#form_submit_button input{
	width:200px;
    height: 40px;
    font-weight: bold;
}